
 img { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    border: 10px solid black;
    background-color: aliceblue;
    border-radius: 30%;
    cursor: grab;
    object-fit: cover;
    width: 200px;
    height: 200px;
  }
  
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

#ModalBanner {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   height: 100%;
   
}
 
 
