
 img { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    border: 10px solid black;
    background-color: aliceblue;
    border-radius: 30%;
    cursor: grab;
    object-fit: cover;
    width: 210px;
    height: 210px;
  }
  
  #catContainer {
   display: flex;
   background-color: aqua;
   height: 250px;
   width: 250px;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.catItem{
   height: 100%;
   width: 100%;
   background-color: brown;
   transition: all 0.3s;
}

#ModalBanner {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   height: 100%;
   
}
 
 
